.form-group input[type="text"], 
.form-group input[type="date"], 
.form-group select, 
.form-group textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

/* Alterar a borda ao focar */
.form-group input[type="text"]:focus, 
.form-group input[type="date"]:focus, 
.form-group select:focus, 
.form-group textarea:focus {
    border-color: #4caf50;
    outline: none;
}

/* Estilizar o botão de envio */
.login-button{
    width: 100%;
    padding: 10px;
    background-color: #2a9d8f;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 30px;
}

/* Alterar cor do botão ao passar o mouse */
.login-button :hover {
    background-color: #21867a;
}

/* Estilizar o textarea */
.form-group textarea {
    height: 100px;
    resize: vertical;
}

/* Ajustar o tamanho dos campos de seleção (select) */
.form-group select {
    height: 45px;
}
